.jsArtCanvas {
  /*width: 100%;*/
  max-width: 90vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;

  display: block;
  box-shadow: 0 2vh 3vh;
}

.nav {
  text-align: center;
  padding-bottom: 5%;
  font-size: 2em;
}
.nav a {
  color: #333;
}

.nav a:hover {
  text-decoration: none;
  font-weight: bold;
}

.subtext {
  font-size: 1em;
}

.title {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}
