.jsArtCanvas {
  width: 100%;
  /*position: absolute;*/
  box-shadow: 0 10px 20px;
}

.nav {
  text-align: center;
  padding-bottom: 5%;
  font-size: 2em;
  /*color: black;*/
}
.nav a {
  color: #333;
}

.nav a:hover {
  text-decoration: none;
  font-weight: bold;
}

.subtext {
  font-size: 1em;
}
