body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a, footer ul li a {
  text-decoration: none;
  color: #888;
}
a {
    text-decoration: none;
    color: #616161;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

table.posts {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 10px 0 20px
}

table.posts .title {
  font-size: 1.25em;
  text-align: left;
  padding-right: 20px;
  padding-top: 3px;
}

table.posts .date {
  font-size: 1em;
  text-align: left;
}

ul.posts li {
    list-style: none;
}

.post p img {
    max-width:80%;
    max-height:300px;
    display: block;
    margin: auto;
}

.post blockquote p {
    font-size: 1em;
    color:#888;
    width:80%;
    margin-left: 10%;
    text-align: center;
}
