---
layout: default
title: Art
---
<link rel="stylesheet" type="text/css" href="/css/jsArt.css">
<script type="text/javascript" src="/assets/paper-full.min.js"></script>

<h1>{{ page.title }}</h1>

<p>
Below you will find some programatic art. Currently (March 2018) I will be posting a new piece every day.
Read more about it <a href="/blog/20180101/Programmatic-Design">here</a>.
<p class="subtext">Note: In this view, interactivity is disabled, and things might be broken because variable scoping doesn't exist in js :P
I'm trying to do my best to use unique variable names, but something might slip through, so click on the title to see each in its full glory.
</p>
</p>

{% for pd in site.art reversed %}
<div style="padding: 2%">
    <a href="{{ pd.url }}" title="{{ pd.date }}" class="title">
      {{ pd.title }}
    </a>
    <br>
  <div class="jspd">
    <canvas id="{{ pd.jsart }}" class="jsArt" resize></canvas>
    <script>
      canvas = document.getElementById("{{ pd.jsart }}");
      canvas.height = canvas.width;
    </script>
    <script type="text/paperscript" canvas="{{ pd.jsart }}">
    {% include pd/lib.js %}
    {% include pd/{{ pd.jsart}}.js %}
    </script>
  </div>
</div>
{% endfor %}
