---
layout: default
title: Art
---
<link rel="stylesheet" type="text/css" href="/css/jsArt.css">
<script type="text/javascript" src="/assets/paper-full.min.js"></script>

<h1>{{ page.title }}</h1>

<p>
Below you will find some programatic art.
Read more about it <a href="/blog/20180101/Programmatic-Design">here</a>.
<p class="subtext">Note: These are static images, click through to see it in full interactive glory.
</p>
</p>

{% for pd in site.art reversed %}
<div style="padding: 2%">
    <a href="{{ pd.url }}" title="{{ pd.date }}" class="title">
      {{ pd.title }}
      <br>
      {% if pd.preview %}
      <img src="/assets/pd/{{ pd.preview }}" class="jsartprev"/>
      {% endif %}
    </a>
</div>
{% endfor %}

<a href='/art/atom.xml' class='title'>subscribe</a>
<!-- <i class="fas fa-rss"></i> -->