<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" type="image/ico" href="{{site.url}}/favicon.ico" sizes="32x32">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
			{% if page.jsart %}
			<link rel="stylesheet" type="text/css" href="/css/jsArt.css">
			<script type="text/javascript" src="/assets/paper-full.min.js"></script>
			{% endif %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!--<li><a href="/cv">CV</a></li>-->
	        		<li><a href="/blog">Blog</a></li>
							<li><a href="/art">Art</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:adam.novotny@students.olin.edu">email</a></li>
	        		<li><a href="https://github.com/labseven">github.com/labseven</a></li>
	        		<li><a href="/assets/Adam_Novotny_CV.pdf">CV</a></li>
			</ul>
			</footer>
		</body>
	</html>
